.test {
    cursor: pointer;
    background-color: gold;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

body {
    background-color: rgb(238, 238, 238);
}

.compras {
    width: 70px;
    top: 30px;
    left: 500px;
    cursor: pointer;
}

#btnBusca {
    max-width: 30px;
}


h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.robux {
    /*Comando abaixo feito por lype **/
border: 4px solid #00ff08;
color: #ffffff;
box-shadow: 0px 0px 25px #00ff08, 0px 0px 10px #4ff855 inset;

border-radius: 300px; 
    background: #36cb08;
    cursor: pointer;
}

.group {
    background: #202020;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.price {
    color: #fff;
    font-size: 20px;
}

.wrapper {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header img {}

#divBusca {
    padding: 10px;
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}
.produto{
    width: 100%;
    max-width: 200px;
    display: block;

}